@using QRCoder;
@using Models;
@rendermode InteractiveServer

<div class="custom-card">
    <h3>@employee.Surname @employee.Name @employee.Patronic</h3>
    <p>@employee.Position.Name</p>
    <a>@employee.Email</a>
    <p>@employee.WorkPhone</p>
    <p>@employee.Birthday.ToString("M")</p>
    <a href="/qrcode/@employee.Id">💾</a>
    

</div>

@code {
    [Parameter]
    public Employee? employee{ get; set; }

    public string qrcodeText = "";
    protected override void OnInitialized()
    {
        var qrGenerator = new QRCodeGenerator();
        var qrData = qrGenerator.CreateQrCode($"{employee.Id}", QRCodeGenerator.ECCLevel.M);
        using(var qrcode = new PngByteQRCode(qrData))
        {
            var qrBytes = qrcode.GetGraphic(20);
            qrcodeText = $"data:image/png;base64,{Convert.ToBase64String(qrBytes)}";
        }
    }

}
<style scoped>
    .custom-card{
        background-color:green;
        margin:20px;
        padding:5px;
        color:white;
    }
    
</style>
